<h1>Events</h1>

<ul>
    <% @events.each do |event|%>
        <li>
            <div>
                <h2> <%= link_to event.name, event_path(event) %></h2>

                <% if user_signed_in? %>
                    <p>Creator: <%= link_to event.creator.email, user_path(event.creator) %></p>
                <% end %>  

                <p> <%= event.date %> </p>
                <p> Date: <%= event.date.strftime('%A, %B %d, %Y') %> </p>
                <p> <%= event.location%> </p>
            </div>
        </li>
    <% end %>
</ul>
